.search-text-field {
    text-align: left;
    color: #000000;
    width: 100%;
    background-color: #FFFFFF;
}

nav[role="navigation"] {
    text-align: center;
}

.items-container {
    width: 760px;
    margin-top: 20;
    margin: auto;
}

.item-section {
    border-top-style: dotted;
    border-width: 1px;
    padding-top: 15px;
}

.item-section .title {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.item-section .subtitle {
    color: gray;
    float: right;
}

.mdl-layout-title a {
    color: #FFFFFF;
    text-decoration: none;
}
